@import '~bulma/bulma.sass';
@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');


body{
  background-color: black;
  background-image: url("https://res.cloudinary.com/dvio5jxzq/image/upload/v1643251940/cod/call-of-duty-modern-warfare-section-background-desktop-01-ps4-en-05nov19_lzbod1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%; 
}

.auth-container{
  height: 500px;
  width: 500px;
}

.auth-page{
  height: 760px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .logo-div{
    width: 100%;
  }
  .auth-section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 500px;
   
    .login-div{
      width: 500px;
      height: auto;
      align-content: center;
      -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
      -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
      box-shadow: 1px 2px 3px rgba(0,0,0,.5); 
    }
  }
}

.auth-logo-div{
  display: flex;
  justify-content: center;
  background-color: black;
  width: 100%;
  .auth-logo-image{
    height: 100%;
    padding: 0 10px;
  }
}

.login-form{
  // margin: 50px 50px 0 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 500px;
  .sign-in-button{
    width: 300px;
    height: 45px;
    margin-top: 10px;
  }
  .login-input{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .error-div{
      background-color: #ff4555;
      width: 300px;
      color: white;
      text-align: center;
    }
  }
  .register-input{
    width: 300px;
    height: 25px;
    background-color : white; 
  }
  .register-input:-webkit-autofill {
    background-color: white;
    -webkit-box-shadow: 0 0 0px 1000px white inset;
  }

  h1{
    color: white;
    font-size: 20px;
  }
  background-color: #000000;
  background-image: linear-gradient(315deg, #414141 0%, #222222 74%);
  .auth-section{
    background-color: #000000;
    background-image: linear-gradient(315deg, #414141 0%, #222222 74%);
  }
}

.login-label{
  color: white;
  font-size: 30px;
}

.register-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding-top: 20px;
  .label{
    color: white;
    font-size: 30px;
  }
  input{
    width: 300px;
  }
  .register-button{
    width: 300px;
    height: 45px;
    margin-top: 10px;
  }
  background-color: #000000;
  background-image: linear-gradient(315deg, #414141 0%, #222222 74%);
  .login-switch{
    text-align: center;
    padding-top: 20px;
  }
}

section{
    font-family: 'Teko', sans-serif;
}

.container{
  display: flex;
  margin-left: 0px;
  margin-right: 0px;

}

.logo-div{
    display: flex;
    justify-content: center;
    background-color: black;
    .logo-image{
      height: 75%;
      padding: 0 10px;
    }
  }

.weapon-image{
  img{ 
    width: 500px;
    height: auto;
    margin: 0px 10px 20px 10px;
  }
}

.mobile-weapon-image{
  img{ 
    width: 500px;
    height: auto;
    margin: 0px 10px 20px 10px;
  }
  display: none;
}

.mobile-drop{
  display: none;
}

.mobile-reset{
  display: none;
}


.weapon-stats{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .stats-title{
    width: 700px;
  }
  h2{
    font-size: 35px;
    color: white;
    background-color: #0b0c0c;
    text-align: center;
  }
  h3{
    font-size: 25px;
  }
  .stats{
    display: flex;
    flex-direction: row;

    margin: 0 10px 10px 10px;
    .stat-boxes{
      width: 300px;
      margin: 10px 10px 10px 10px;
    }
    
  }
}

.range-stats{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .stats-title{
    width: 700px;
  }
  h2{
    font-size: 35px;
    color: white;
    background-color: #0b0c0c;
    text-align: center;
  }
  h3{
    font-size: 25px;
  }
  border-bottom: 3px solid black;
  margin-bottom: 20px;
  .stats{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 10px 10px 10px;
    .stat-boxes{
      margin: 10px 10px 10px 10px;
    }
    width: 400px;
  }
}

.create-header{
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  color: white;
  background-color: #000000;
  background-image: linear-gradient(315deg, #414141 0%, #222222 74%);
  h1{
    font-size: 60px;
    margin: 0 30px;
  }
  .class-buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    input{
      height: 30px;
      margin: 5px;
    }
    button{
      height: 30px;
      margin: 5px;
    }
  }
}

.create-class{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
  .button{
    margin: 10px;
    height: 65px;
    width: 160px;
    font-size: 30px;
    font-family: 'Teko', sans-serif;
  }
}

.weapon-type-buttons{
  display: flex;
  flex-wrap: wrap;
  width: 350px;
  max-height: 1000px;
  border: none;
  
  button{
    font-family: 'Teko', sans-serif;
    font-size: 30px;
    margin: 5px;
    min-width: 190px;
    height: 50px;
  }
}

.big-column{
  padding: 0px;
  margin: 0px;
  align-items: left;
}

.weapons-container{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 500px;
  flex-wrap: wrap;
  // margin-left: 40px;
  // margin-right: 20px;
  margin-bottom: 50px;
  overflow: scroll;

  background-color: #000000;
  background-image: linear-gradient(315deg, #414141 0%, #222222 74%);
  -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
-webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
box-shadow: 1px 2px 3px rgba(0,0,0,.5);  
  padding-top: 35px;
  padding-bottom: 15px;



  .weapon-cards{ 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    

    .weapon-card{
      
      background-color: #000000;
      background-image: linear-gradient(315deg, #000000 0%, #7f8c8d 74%);
      margin: 10px;
      max-width: 270px;
      max-height: auto;
      color: white;
      display: flex;
      flex-direction: column;
      -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
      -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
      box-shadow: 1px 2px 3px rgba(0,0,0,.5);
      

      h3{
        margin-left: 20px;
        padding-bottom: 10px;
        font-size: 50px;
        color: white;
      }
      img{
        height: 150px;
        width: auto;
        max-width: 250px;
        margin: 10px;
        margin-bottom: 0px;
      }
    }

  }
}

.profile{
  width: 3000px;
}

.weapon-profile{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.user-weapon-profile{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.weapon-page{
  background-color: #000000;
  background-image: linear-gradient(315deg, #414141 0%, #222222 74%);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border: 2px solid black;
  height: 800px;
  width: 1300px;
  color: white;
  margin-bottom: 50px;
  h4{
    font-size: 45px;
    margin-bottom: 10px;
  }
}



.title{
  display: flex;
  font-size: 150px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px 10px;
  color: white;
  .dropdown{
    // width: 250px;
  }
}



.damage-profile{
  .stats-title{
    width: 700px;
  }
  h2{
    font-size: 35px;
    color: white;
    background-color: black;
    text-align: center;
  }
  h3{
    font-size: 25px;
  }
}

.damage-ranges{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  h1{
    font-size: 25px;
  }
  width: 250px;
  .start-range{
    padding-top: 10px;
  }
  .end-range{
    padding-bottom: 10px;
  }
}

.rate-of-fire{
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  width: 800px;
  padding: 0px;
  font-size: 30px;
  .column{
    padding-left: 0px;
    }
  }

  .hidden-value{
    height: 50px;

  }

  .gun-stats{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding-left: 130px;
    h3{
      font-size: 20px;
    }
  }


  .profile-and-create{
    display: flex;
    flex-direction: row;
    // width: 150px;
  }

  .profile-buttons{
    display: flex;
    flex-direction: row;
  }

  .profile-select{
    width: 250px;
    margin: 0 5px;
    font-family: 'Teko', sans-serif;
    font-size: 25px;
    background-color: black;
    color: white;
    border: none;
  }

  .header{
    display: flex;
    justify-content: center;

  }

  .user-weapon-profile-header{
    display: flex;
    justify-content: center;
  }

  // .range-boxes{
  //   display: flex;
  //   flex-direction: row;
  //   margin: 10px 10px 10px 10px;

  // }

  .range-component{
    width: 150px;
    margin: 0 25px 0 25px;
    h1{
      font-size: 25px;
    }
    h3{
      font-size: 20px;
    }
  }


.attachments{
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin-top: 30px;
  margin-bottom: 30px;
  height: auto;
  align-items: center;
  border: 1px solid black;
  background-color: #000000;
  background-image: linear-gradient(315deg, #000000 0%, #7f8c8d 24%);
  padding: 30px 70px 0 70px;
  .weapon-image{
display: flex;
justify-content: center;
  }
  .weapon-part{
    display: flex;
    flex-direction: column;
    width: 220px;
  }
  .columns{
    display: flex;
    justify-content: center;
  } 
}

.base-stats{
  display: flex;
  flex-direction: row;
  width: 800px;
  justify-content: center;
  .variable-stats{
    h1{
      margin-bottom: 5px;
    }
    h3{
      font-size: 25px;
    }
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 5px;
  }
}

.attachments-top{
  padding-top: 20px;
  display: flex;
  flex-direction: row;
}

.attachments-bottom{
  padding-bottom: 20px;
}



.create-weapon-image{
  width: 700px;
  height: auto;
  margin-top: 30px;
}

.mobile-create-weapon-div{
  display: none;
}

.create-stats-div{
  padding: 20px;
  margin-bottom: 20px;
  color: white;
  background-color: #000000;
  background-image: linear-gradient(315deg, #414141 0%, #222222 74%);
  -moz-box-shadow: 1px 2px 3px 2px rgba(0,0,0,.5);
  -webkit-box-shadow: 1px 2px 3px 2px rgba(0,0,0,.5);
  box-shadow: 1px 2px 3px 2px rgba(0,0,0,.5);
  width: fit-content;
  overflow-y: scroll;
}

.create-class-stats{
  background-color: black;
  font-size: 36px;
  width: 90%;
  text-align: center;
  margin: 0 10px;
}

.create-class-range-stats{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .range-header{
    display: flex;
    flex-direction: row;
    margin: 10px 10px 10px 10px;
    width: 780px;
    .header{
      width: 100%;
      background-color: black;
      font-size: 36px;
      text-align: center;
      margin: 0 0px;
    }

  }
  .range-boxes{
    display: flex;
    flex-direction: row;
    margin: 10px 10px 10px 10px;

  }
}

.dynamic-create-images{
  display: flex;
  flex-direction: column;
}

.attach-images{
  display: flex;
  flex-direction: row;
  justify-content: center;
  // height: 80px;
  width: 500px
}
.attach-image{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  .class-attach-image{
    height: 75%;
    width: 75%;
  }
  .barrel-attach-image{
    height: 40%;
    width: 75%;
  }
  // #barrel-image{
  //   width: 60px;
  //   height: 45%;
  //   overflow: none;
  // }

  .barrel-image{
    width: 20px;
  }

}



.profile-user-weapons{
  margin: 0 auto;
  .profile-header{
    .weapons-column{
      border: 1px solid black;
    }
    
  }

  .created-weapons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.profile-link-buttons{
  display: flex;
 justify-content: center;
 
 button{
  font-family: 'Teko', sans-serif;
  font-size: 25px;
   margin: 0 20px 20px 20px;
   width: 250px;
 }
}

.navbar{

  .nav-column{
    display: flex;
    flex-direction: row;
  }
  .navbar-item{
    font-family: 'Teko', sans-serif;
    margin: 0 15px;
    h3{
      color: white;
      font-size: 25px;
      margin: 0px
    }
  }
  #site-links{
    display: flex;
    justify-content: flex-start;
  }
  #access{
    display: flex;
    justify-content: flex-end;
  }
  #site-access{
    display: none;
  }
}

.scrollable{
  height: 400px;
  overflow: scroll;
    -moz-box-shadow: 1px 2px 3px 2px rgba(0,0,0,.5);
-webkit-box-shadow: 1px 2px 3px 2px rgba(0,0,0,.5);
box-shadow: 1px 2px 3px 2px rgba(0,0,0,.5); 
  background-color: #000000;
  background-image: linear-gradient(315deg, #000000 0%, #7f8c8d 74%);
  padding: 30px 70px 0 70px;
}



.user-added-attachments{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #000000;
  background-image: linear-gradient(315deg, #000000 0%, #7f8c8d 74%);
  -moz-box-shadow: 1px 2px 3px 2px rgba(0,0,0,.5);
  -webkit-box-shadow: 1px 2px 3px 2px rgba(0,0,0,.5);
  box-shadow: 1px 2px 3px 2px rgba(0,0,0,.5); 
  width: 700px;
  .user-attachments{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px; 
    height: auto;
    margin: 10px;
    background-color: #0b0c0c;
    // background-image: linear-gradient(315deg, #000000 0%, #7f8c8d 74%);
    h1{
      font-size: 25px;
      background-color: black;
      width: 300px;
      text-align: center;
    }
    h3{
     font-size: 25px;
     text-align: center;
    }
   }
}

.profile-section{
  height: 900px;
}

.created-and-favourited{
  background-color: #000000;
  background-image: linear-gradient(315deg, #000000 0%, #7f8c8d 74%);
  margin: 0 auto;
}

.profile-header{
  margin: 15px;
  border: 1px solid black;
  background-color: #000000;
  background-image: linear-gradient(315deg, #000000 0%, #7f8c8d 74%);
  color: white;
  display: flex;
  .profile-image{
    display: flex;
    flex-direction: column;
    margin: 30px;
    img{
      height: 250px;
      width: auto;
      margin-bottom: 7px;
    }
    .image-form{
      display: flex;
      flex-direction: column;
      input{
        height: 40px;
        margin: 5px;
      }
      button{
        height: 40px;
        margin: 0 5px;
      }
    }
  }
  .user-name-header{
    width: 74%;
    margin: 15px;
    background-color: #000000;
    background-image: linear-gradient(315deg, #414141 0%, #222222 74%);
    h1{
      margin-top: 30px;
      margin-left: 15px;
      font-size: 75px;
    }
    h3{
      margin-left: 15px;
      font-size: 35px;
    }
  }
}

.user-made-weapons{
  margin: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  // flex-direction: column;
  height: 325%;
  overflow: scroll;
  .user-created-weapons{
    overflow: scroll;
    width: 90%;
    margin: 10px;
    background-color: #000000;
    background-image: linear-gradient(315deg, #414141 0%, #222222 74%);
    height: 50%;
    .created-title{
      height: 35px;
      color: white;
      margin: 0 0 15px 15px;
      h3{
        font-size: 30px;
      }
    }
  }
  .created-weapons-container{
    display: flex;
    flex-direction: row;
    // flex-wrap: nowrap;
    overflow: scroll;
    margin: 15px 15px 15px 15px;
    .user-weapon-image{
      .weapon-card{
        height: 225px;
        width: 140px;
        margin: 5px;
        background-color: black;
        color: white;

        img{
          height: 180px;
          width: auto;
          padding: 5px 5px 0 5px;
        }
        h3{
          font-size: 20px;
          margin: 0 5px;
        }
      }
    }
  }
}

// create a class

.select-attachment{
  font-family: 'Teko', sans-serif;
  color: white;
  font-size: 20px;
  background-color: #000000;
  background-image: linear-gradient(315deg, #414141 0%, #222222 74%);
  border: 0.5px solid white;
}

.select-attachment-button{
  font-family: 'Teko', sans-serif;
  color: white;
  font-size: 20px;
}

.attachment-dropdown-option{
  font-family: 'Teko', sans-serif;
  font-size: 15px;
  color: white;
  background-color: #000000;
}

.unavailable{
  font-family: 'Teko', sans-serif;
  font-size: 20px;
  color: white;
  background-color: #a25461;
}





@media only screen 
and (min-device-width: 320px)
and (max-device-width: 812px)
and (-webkit-min-device-pixel-ratio: 2) {

  body{
    width: 375px;
  }
  .logo-div{
    display: flex;
    justify-content: center;
    background-color: black;
    .logo-image{
      height: 75%;
      padding: 0 10px;
    }
  }
  .navbar{
    justify-content: flex-start;
    height: 50px;
    font-size: 12px;
    text
    #site-links{
      align-items: center;
    }
    #access{ display: none; }
    #site-access{
      display: inline-block;
    }

  }
  section{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .game-buttons{
    margin-bottom: 10px;
    margin-top: 10px;
    width: 75vw;
    .button{
      height: 30px;
      font-size: 1em;
    }
  }
  .container{
    display: flex;
    flex-direction: column;
    border: 0px;
    .is-one-fifth{
      border: 0px;
    }
  }

  .is-one-fifth{
    border: 0px;
  }
  .type-column{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    border: 0px 0px;

  }
  .weapon-type-buttons{
    display: none;
  }
  .weapons-container{
    height: 115vw;
    overflow: scroll;
  }
  .weapon-card{
    height: 75%;
    h3{
      margin-left: 20px;
      font-size: 20px;
      color: white;
  }
}

  .card-name{
    font-size: 40%;
  }
  .big-column{
    height: 75%;
    
  }
  .dropdown{
    display: block;
    .mobile-drop{
      display: block;
      text-align: center;
      .select-head{
        font-family: 'Teko', sans-serif;
      }
    }
  }
  .mobile-reset{
    display: block;
    font-family: 'Teko', sans-serif;
    align-content: center;
    margin-left: 10px;
  }

  .weapon-page{
    height: auto;
    width: 400px;
    overflow: hidden;
  }

  .profile-weapon-image{
    display: none;
  }
  .profile{
    width: 390px;
}
.profile-and-create{
  display: flex;
  flex-direction: column;
  align-items: center;
  .profile-select{
    height: 35px;
    font-size: 15px;
    margin-bottom: 7px;
  }
}
.weapon-stats{
  .stats{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

header{
  border-bottom: 4px solid black;
}
.title{
  .mobile-weapon-image{
    img{
      // height: 75%;
      // width: 75%;
      margin: 0 0 0 0;
    }
    display: flex;
    justify-content: center;
  }
  .mobile-weapon-name{
    font-size: 50px;
  }
}

.range-boxes{
  display: flex;
  flex-direction: column;
  .range-component{
    border-bottom: 1px solid black;
  }
}

.range-stats{
  border-bottom: none;
}

//create a class

.attachments{
  margin: 0;
  padding-top: 0;
}

.create-header{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 10px;
  input{
    width: 300px;
  }
}

.attachments-top{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 300px;
  .weapon-part{
    padding: 0 0 10px 0;
  }
}

.attachments-bottom{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 15px;
  width: 300px;
  .weapon-part{
    padding: 0 0 10px 0;
  }
}

.attach-images{
  display: none;
}

.create-weapon-div{
  display: none;
}

.mobile-create-weapon-div{
  display: flex;
  width: 45%;
  height: auto;
  img{
    margin: 0;
  }
}

.select-attachment, .select-attachment-button{
  width: 140px;
}

.base-stats{
  display: flex;
  flex-direction: column;
  align-items: center;
  .variable-stats{
    padding-top: 15px;
    .create-class-stats{
      margin-bottom: 15px;
      width: 400px;
    }
  }
}

.create-class-range-stats{
  .range-boxes{
    display: flex;
    flex-direction: column;
    .range-component{
      padding-bottom: 15px;
      border-bottom: none;
    }
  }
}

//register and login

.auth-section{
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 50px;
  margin-bottom: 100px;
  width: 100%;
}

.login-div{
  display: flex;
  justify-content: center;
  height: 400%;
  width: 350px;
  -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0); 
  .login-form{
    width: 450px;

  }
  .register-div{
    height: 400%;
    width: 75%;
  }
}

//profile

.profile-section{
  height: 1400px;
  width: 375px;
  div{
    width: 100%;
  }
}

.profile-header{
 
  .profile-image{
    margin-bottom: 0;

  }
  width: 100%;
  margin: 0;
  overflow: none;
  flex-direction: column;
  align-items: center;

  .user-name-header{
    margin: 0 0 25px 0;
    padding: 0;
    -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    box-shadow: 1px 2px 3px rgba(0,0,0,.5); 
    div{
      display: flex;
      justify-content: center;
        h1{
          font-size: 35px;
            margin: 0;
            }
            h3{
              font-size: 20px;
            }
  }}}

.profile-link-buttons{
  flex-direction: column;
  align-items: center;
  justify-content: center;
  a{
    display: flex;
    justify-content: center;
    button{
      width: 100%;
      margin-bottom: 10px;
    }
  }
  
}


.created-and-favourited{
  width: 375px;
}
.created-weapons-container{
  display: flex;
  flex-direction: column;
}

//user weapons profile

.weapon-page{
  width: 375px;
  border: none;

}

.user-weapon-profile-header{
  width: 375px;
  flex-direction: column-reverse;
  align-items: center;
  .title{
    margin: 0 auto;
    div{
      h1{
        font-size: 60px;
      }
      h3{
        font-size: 40px;
      }
    }
  }
  .weapon-image{
    img{
  margin-bottom: 0;
  width: 85%;
    }
  }

}

.user-weapon-profile{
  .weapon-stats{

    .stats{
      .user-added-attachments{
        flex-direction: column;
        align-items: center;
      }

    }
  }

}


}




@media only screen 
and (min-device-width: 813px)
and (max-device-width: 1500px)
and (-webkit-min-device-pixel-ratio: 2){


  .container{
display: flex;
justify-content: center;
margin-left: 50px;
  }

  .logo-image{
    height: 20%;
    width: 20%;
  }

  .type-column{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    width: 500px;
    .reset-div{
      margin: 0 10px;
      .mobile-reset{
        margin-top: 10px;
      }
    }
  }
  .weapon-type-buttons{
    display: none;
  }
  .weapons-container{
    height: 500px;
    margin: 0 20px 0 20px;
  }

  .mobile-drop{
      display: block;
      text-align: center;
      height: 65px;
      width: 200px;
      font-size: 25px;
      .select-head{
        font-family: 'Teko', sans-serif;
      }
    
  }

  .game-buttons{
    margin-bottom: 0px;
  }

  .mobile-reset{
    display: block;
    text-align: center;
    height: 65px;

    font-size: 25px;
    font-family: 'Teko', sans-serif;
    button{
      width: 200px;
    }

  }
  .big-column{
    display: flex;
    justify-content: center;
  }

  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }

  .reset-div{
    display: flex;
    align-items: flex-end;
    margin-left: 20px;
  }

  //profile section

  .profile-section{
    width: 1400px;
  }
  .created-and-favourited{
    width: 1300px;
  }

}



