@import '~bulma/bulma.sass';
@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');


  section{
    font-family: 'Teko', sans-serif;
}

.container{
  display: flex;
  margin-left: 0px;
  margin-right: 0px;

}

.weapon-image{
  img{ 
    width: 500px;
    height: auto;
    margin: 0px 10px 20px 10px;
  }
}


.weapon-stats{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .stats-title{
    width: 700px;
  }
  h2{
    font-size: 35px;
    color: white;
    background-color: black;
    text-align: center;
  }
  h3{
    font-size: 25px;
  }
  .stats{
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin: 0 10px 10px 10px;
    .stat-boxes{
      margin: 10px 10px 10px 10px;
    }
  }
}

.create-header{
  display: flex;
  align-items: center;
  flex-direction: row;
  h1{
    font-size: 60px;
    margin: 0 30px;
  }
  .class-buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    input{
      height: 30px;
      margin: 5px;
    }
    button{
      height: 30px;
      margin: 5px;
    }
  }
}

.create-class{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
  .button{
    margin: 10px;
    height: 65px;
    font-size: 30px;
    font-family: 'Teko', sans-serif;
  }
}

.weapon-type-buttons{
  display: flex;
  flex-wrap: wrap;
  width: 350px;
  max-height: 1000px;
  border: none;
  
  button{
    font-family: 'Teko', sans-serif;
    font-size: 30px;
    margin: 5px;
    min-width: 190px;
    height: 50px;
  }
}

.big-column{
  border: 2px solid black;

}

.weapons-container{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-left: 40px;
  margin-right: 20px;



  .weapon-cards{ 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    

    .weapon-card{
      background-color: black;
      margin: 10px;
      max-width: 270px;
      h3{
        margin-left: 20px;
        color: white;
      }
      img{
        height: 150px;
        width: auto;
        max-width: 250px;
        margin: 10px;
        margin-bottom: 0px;
      }
    }

  }
}

.profile{
  width: 3000px;
}

.weapon-profile{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.weapon-page{
  display: flex;
  justify-content: center;
  align-items: flex-start;
}



.title{
  display: flex;
  font-size: 150px;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin: 20px 10px;
  .dropdown{
    width: 250px;
  }
}

.damage-profile{
  .stats-title{
    width: 700px;
  }
  h2{
    font-size: 35px;
    color: white;
    background-color: black;
    text-align: center;
  }
  h3{
    font-size: 25px;
  }
}

.damage-ranges{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  h1{
    font-size: 25px;
  }
  width: 250px;
  .start-range{
    padding-top: 10px;
  }
  .end-range{
    padding-bottom: 10px;
  }
}

.rate-of-fire{
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  width: 800px;
  padding: 0px;
  font-size: 30px;
  .column{
    padding-left: 0px;
    }
  }

  .hidden-value{
    height: 85px;
  }

  .gun-stats{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding-left: 130px;
    h3{
      font-size: 20px;
    }
  }


  .profile-and-create{
    display: flex;
    flex-direction: column;
  }

  .profile-buttons{
    display: flex;
    flex-direction: row;
  }

  .profile-select{
    width: 250px;
    margin: 0 5px;
  }

  .header{
    display: flex;
    justify-content: center;
  }

  .range-boxes{
    display: flex;
    flex-direction: row;
    margin: 10px 10px 10px 10px;
  }


.attachments{
  display: flex;
  flex-direction: column;
  width: 1000px;
  align-items: center;
  border: 1px solid black;
  .weapon-image{
display: flex;
justify-content: center;
  }
  .weapon-part{
    display: flex;
    flex-direction: column;
    width: 220px;
  }
  .columns{
    display: flex;
    justify-content: center;
  } 
}

.base-stats{
  display: flex;
  flex-direction: row;
  width: 800px;
  justify-content: center;
  .variable-stats{
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}

